@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium','Arial';
  }
  a {
    text-decoration: none;
  }
  body{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      rgba(221, 221, 221, 0.7),
      rgba(221, 221, 221, 0.7)
    ), url(https://github.com/yoonseo1004/yoonseo/blob/main/images/update_image.jpg?raw=true);
  }
  .navbar{
    color: #104a8c;
  }
  .navbar-brand>a{
    float: right;
  }
.navbar-brand>h4{
    margin-left: 170px;
    margin-top: 9px;
}
  .btn.btn-outline-primary{
    color: #104a8c;;
    border: 0;
  }
  .btn.btn-outline-primary:hover{
    background-color: #104a8c;
    color: white;
    border: 1px solid #104a8c;
  }
  .btn.btn-primary{
    margin-top: 5px;
    background-color: #71A7D4;
    border: 1px solid #B1B8ED;
    color: white;
  }
  .btn.btn-primary:hover{
    background-color: #104a8c;
    border: 1px solid #6F8DBD;
    color: white;
  }